*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*paleta de colores;
#9C550E
#5C3208
#DC7913
#E87E15
#C26A11
*/
$primary-color:#E87E15;
$secondary-color:#FFEBD8;

/* Font Family*/
/*variable SASS*/
$title-font: normal 20px/1.5 'Open Sans','sans-serif';
$cool-brown: #5C3208;


/*header*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image:linear-gradient($primary-color,#FFD7Af) ;
}

/*logo*/

.logo img{
    width: 120px;
    padding: 20px;
    animation-name: logo;
    animation-iteration-count:2;
    animation-timing-function: ease-out;
    animation-duration:3s;
    animation-delay: 3s;
}

@keyframes logo{
    0%{
        transform: rotate(0);
        }
        100%{
        transform: rotate(360deg);
        }
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding-right: 20px;
    a {
        background-color: $primary-color;
        text-decoration: none;
        color: $secondary-color;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
        &:hover{
            background-image:linear-gradient(#FFD7Af, $primary-color) ;
            color:#5C3208;
            font-weight: bold;
    }
}
}
/*inhabilito el menu asi no se ve en la version de escritorio*/
.abrir-menu{
    display: none;
}

/*Menu*/
.body-mobile{
    background-color: #FFD7Af;
}

.menu-mobile{
    padding-top: 30px;
    li{
        font-size: 50px;
        display: flex;
        justify-content: center;
        padding: 10px;
        a{
            text-decoration: none;
            font-family: sans-serif;
            background-color: $secondary-color;
            padding: 20px;
            border-radius: 10%;
            color: $cool-brown;
        }
    }
}


/*bienvenido*/

.bienvenidos h1{
    background-color: $primary-color;
    text-align: center;
    font-size: 60px;
    padding: 20px;
    color: #FFD7Af;
}
.article-bienvenida{
    display: flex;
}
.article-bienvenida h2{
    padding: 30px;
    color: $cool-brown;
}
.img_bienvenidos{
    padding: 40px;
    padding-bottom: 100px;
}
.paginas-portafolio{
    width: 100%;
    padding: 20px;
}

@mixin titulos{
    font-size: 60px;
    text-align: center;
    padding: 30px;
}

/* Sobre mi */

.sobre_mi{
    background-color: $primary-color;
    color: #FFD7Af;
    display: flex;
    flex-direction: column;

    h2{
        @include titulos()
    }

    h3{
        padding: 35px;
        font-size: 30px;
    }

    .img-sobre_mi{
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    button{
        background-color: $cool-brown;
        border: none;
        margin-bottom: 25px;
    }

    button a{
        text-decoration: none;
        color: #EBD4BC;
        padding: 20px;
        font-size: 30px;
    }
}


/* formacion */
/* inhabilito texto que va en la version mobile */
.text-mobile-formacion{
    display: none;
}
.text-coderhouse-mobile{
    display: none;
}


.formacion{
    background-color: #FFD7Af;
    color: $cool-brown;
    display: flex;
    flex-direction: column;

    h2{
        @include titulos()
    }
    h3{
        padding: 35px;
        font-size: 30px;
    }
    .img-formacion{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    button{
        background-color: $primary-color;
        border: none;
        margin-bottom: 25px;
    }
    button a{
        text-decoration: none;
        color: #EBD4BC;
        padding: 20px;
        font-size: 30px;
    }
}


/* proyectos */

.proyectos{
    background-color: $secondary-color;
    color: $cool-brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    h2{
        @include titulos()
    }
    h3{
        padding: 35px;
        font-size: 30px;
    }
    .img-proyectos{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    button{
        background-color: $cool-brown;
        border: none;
        margin-bottom: 25px;
    }
    button a{
        text-decoration: none;
        color: #EBD4BC;
        padding: 20px;
        font-size: 30px;
    }
}


/*contacto*/

.contacto h2{
    font-size: 60px;
    text-align: center;
    padding: 50px;
    color: $primary-color;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 250px;
}

.boton-arriba{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    
}
.boton-arriba a{
    text-decoration: none;
    font-size: 30px;
    color: #5C3208;
}

footer{
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    padding: 10px;

    p{
        color: #EBD4BC;
    }
    p a{
        text-decoration: none;
        color: black;
    }
}

/*paginas*/
/*sobre mi*/

.art-2 p{
    display: none;
}

.container-sobre_mi{
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    h2{
        color: #FFD7Af;
        font-size: 80px;
        text-align: center;
    }

    .pag-img-sobre_mi{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #h1-contacto{
        display: none;
    }
}
.text-sobre_mi p{
    font-size: 20px;
    padding: 20px 100px 40px 100px;
    color: $cool-brown;
    font-size: 25px;
}


/*formacion*/

.titulo-formacion h1{
    font-size: 80px;
    text-align: center;
    color: $primary-color;
}

.formacion-Freecode{
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
        h2{
            color: #FFD7Af;
            font-size: 80px;
        }
        p{
            font-size: 20px;
            padding: 20px 100px 40px 100px;
            color: $cool-brown;
            font-size: 25px;
        }
        #freecode{
            width: 100%;
            padding-bottom: 40px;
        }
        .text-freecode-mobile p{
            display: none;
        }
}



/*coderhouse*/

.formacion-coderhouse{
    background-color: #FFD7Af;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        color: $primary-color;
        font-size: 80px;
    }
    p{
        font-size: 20px;
        padding: 20px 100px 40px 100px;
        color: $cool-brown;
        font-size: 25px;
    }
    #coderhouse{
        width: 100%;
        padding-bottom: 40px;
    }
}


/*contacto*/

#contacto{
    padding-bottom: 20px;

    p{
        font-size: 30px;
        color: $cool-brown;
        font-weight: bold;
        padding: 40px 0 20px 0;
    }
}



/*media querys*/

@media screen and (max-width: 480px) {

#contacto h2, p{
    display: none;
}
#h1-contacto{
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: #EBD4BC;
    margin: 0;
    padding: 20px;
    color: $cool-brown;
}

.logo{
    width: 90px;
    padding: 10px;
}
#burger{
    width: 25px;
}

.abrir-menu{
    border: none;
    color: $secondary-color;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    
    a{
        text-decoration: none;
        color: $cool-brown;
    }
}
.nav-list{
    display: none;
}
.abrir-menu{
    display: block;
}

/*Bienvenidos*/
.bienvenidos{
    height: 80%;
    background-color: #EBD4BC;
}
.bienvenidos h1{
    text-align: center;
    background-color: $primary-color;
    color: #EBD4BC;
    padding: 10px;
    font-size: 50px;
}
#img-bienvenidos{
    width: 250px;
}
.img_bienvenidos{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.paginas-portafolio{
    display: none;
}
.article-bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.article-bienvenida article h2{
    font-size: 20px;
    padding: 10px 20px 20px 20px;
    color: $cool-brown;
    background-color: #EBD4BC;
}

/*sobre mi*/
.sobre_mi{
    background-color: $primary-color;
    padding-bottom: 20px;

    h2{
        color: #EBD4BC;
        text-align: center;
        font-size: 50px;
        padding-top: 30px;
    }
    h3{
        font-size: 20px;
        padding: 10px 20px 20px 20px;
        color: #EBD4BC;
    }
    .img-sobre_mi img{
        width: 250px;
        padding-bottom: 20px;
    }
    .img-sobre_mi{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}

.futbol {
    p {
        font-size: 20px;
        display: flex;
        width: 100%;
        padding: 10px;
    }
}
.sobre_mi{
    text-align: center;

    button{
        background-color: $cool-brown;
        border: none;
        margin-bottom: 25px;
    }
    button a{
        text-decoration: none;
        color: #EBD4BC;
        padding: 20px;
        font-size: 20px;
    }
}

.container-sobre_mi h2{
    color: #FFD7Af;
    font-size: 50px;
    text-align: center;
}
.text-sobre_mi p{
    font-size: 20px;
    display: flex;
    width: 100%;
    padding: 10px;
}
.pag-img-sobre_mi{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*formacion*/
.formacion{
    background-color: #FFD7Af;
    text-align: center;

    h2{
        color: $cool-brown;
        text-align: center;
        font-size: 50px;
        padding-top: 30px;
    }
    h3{
        font-size: 20px;
        padding: 10px 20px 20px 20px;
        color: $cool-brown;
    }
    .img-formacion img{
        width: 250px;
        padding-bottom: 20px;
    }
    .img-formacion{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}

/*proyectos*/
.proyectos{
    background-color: $primary-color;
    text-align: center;

    h2{
        color: #EBD4BC;
        text-align: center;
        font-size: 50px;
        padding-top: 30px;
    }
    h3{
        font-size: 20px;
        padding: 10px 20px 20px 20px;
        color: #EBD4BC;
    }
    .img-proyectos img{
        width: 250px;
        padding-bottom: 20px;
    }
    .img-proyectos{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    button{
        background-color: #5C3208;
        border: none;
        margin-bottom: 25px;
    }
    button a{
        text-decoration: none;
        color: #EBD4BC;
        padding: 20px;
        font-size: 20px;
    }
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        color: $primary-color;
        text-align: center;
        font-size: 50px;
        padding-top: 30px;
    }
}
.formulario{
    display: flex;
    flex-direction: column;
    padding: 50px;
}


/*paginas */

/*Sobre mi*/

.text-sobre_mi p{
    font-size: 20px;
    display: flex;
    width: 100%;
    padding: 10px;
}
.art-2{
    background-color: #EBD4BC;
}
.img-sobre_mi {
    width: 100%;
}

/*formacion*/

.titulo-formacion h1{
    font-size: 50px;
}
.formacion-Freecode{

    h2{
        font-size: 40px;
    }
    p{
        display: none;
    }

    img#freecode-mobile {
        width: 100%;
    }
}
.text-freecode-mobile p{
    font-size: 20px;
    display: flex;
    width: 100%;
    padding: 10px;
}

.formacion-coderhouse{
    p{
        display: none;
    }

    h2{
        font-size: 40px;
    }
    img#coderhouse{
        width: 100%;
    }
}

.text-coderhouse-mobile p{
    display: flex;
    font-size: 20px;
    padding: 10px;
}


footer{
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    padding: 10px;
        p{
            color: #EBD4BC;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}